<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>860889378999-dgbkh4f8rt894osa9ocs36tvdueeh7dt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.860889378999-dgbkh4f8rt894osa9ocs36tvdueeh7dt</string>
	<key>API_KEY</key>
	<string>AIzaSyDN-HKQRvxf98M5jtPVRdRgr9D5EVYvqJ4</string>
	<key>GCM_SENDER_ID</key>
	<string>860889378999</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bicycleProjectApp</string>
	<key>PROJECT_ID</key>
	<string>bicycle-project-98ae1</string>
	<key>STORAGE_BUCKET</key>
	<string>bicycle-project-98ae1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:860889378999:ios:4cd35ade432e7bc0159d32</string>
</dict>
</plist>